parameter_defaults:
  # Enable various IPv6 features in Nova.
  #NovaIPv6: False
  OvsPmdCoreList: "4,6,44,46"   #"3,5,43,45" Customer specifc PMD on same NUMA as NIC and NIC both ports bonded
  OvsDpdkMemoryChannels: "4"  #"4" Customer specific

  ComputeExtraConfig:
    nova::cpu_allocation_ratio: 1.0
    nova::scheduler::filter::cpu_allocation_ratio: 1.0
    nova::initial_ram_allocation_ratio: 1.0
    nova::ram_allocation_ratio: 1.0
    nova::scheduler::filter::ram_allocation_ratio: 1.0
    nova::compute::allow_resize_to_same_host: true
    nova::compute::resume_guests_state_on_host_boot: true
    nova::compute::resize_confirm_window: 1

  ComputeOvsDpdkExtraConfig:
    nova::cpu_allocation_ratio: 1.0
    nova::scheduler::filter::cpu_allocation_ratio: 1.0
    nova::initial_ram_allocation_ratio: 1.0
    nova::ram_allocation_ratio: 1.0
    nova::scheduler::filter::ram_allocation_ratio: 1.0
    nova::compute::allow_resize_to_same_host: true
    nova::compute::resume_guests_state_on_host_boot: true
    nova::compute::resize_confirm_window: 1

  ComputeSriovExtraConfig:
    nova::cpu_allocation_ratio: 1.0
    nova::scheduler::filter::cpu_allocation_ratio: 1.0
    nova::initial_ram_allocation_ratio: 1.0
    nova::ram_allocation_ratio: 1.0
    nova::scheduler::filter::ram_allocation_ratio: 1.0
    nova::compute::allow_resize_to_same_host: true
    nova::compute::resume_guests_state_on_host_boot: true
    nova::compute::resize_confirm_window: 1
  ComputeParameters:
    #KernelArgs: "default_hugepagesz=1G hugepagesz=1G"
    NovaReservedHostMemory: 4096
    OvsHwOffload: false

  ComputeOvsDpdkParameters:
    #KernelArgs: "default_hugepagesz=1G hugepagesz=1G hugepages=32 intel_iommu=on iommu=pt rcu_nocb_poll"
    KernelArgs: "default_hugepagesz=1G hugepagesz=1G hugepages=32 intel_iommu=on iommu=pt"
    OvsHwOffload: false
    NovaReservedHostMemory: 4096
    NovaComputeCpuSharedSet: "13,15,17,19,21,23,25,27,29,31,33,35,37,39,53,55,57,59,61,63,65,67,69,71,73,75,77,79"  # NovaComputeCpuSharedSet -- Sets the cores to be used for emulator threads. This will define the value of the nova.conf parameter cpu_shared_set. The recommended value for this parameter matches the value set for OvsDpdkCoreList.
    NovaComputeCpuDedicatedSet: "8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78"  # NovaComputeCpuDedicatedSet -- Sets the dedicated (pinned) CPUs
    # 0-0       0,1     12,13
    # 0-1       2,3     14,15
    # 0-2       4,5     16,17
    # 0-8       6,7     18,19
    # 0-9       8,9      20,21
    # 0-10      10,11   22,23
    #IsolCpusList: "6-11,18-23"
    OvsDpdkSocketMemory: "1024,4096"

  ComputeSriovParameters:
    KernelArgs: "default_hugepagesz=1GB hugepagesz=1G hugepages=32 intel_iommu=on iommu=pt"
    OvsHwOffload: false
    #TunedProfileName: "cpu-partitioning"
    NeutronPhysicalDevMappings: 
      - sriov-public:ens1f0
      - sriov-private:ens1f1
      - sriov-mirror:ens2f0
    # Need to edit per hardware confguration
    NovaPCIPassthrough:
      - devname: "ens1f0"
        trusted: "true"
        physical_network: "sriov-public"
      - devname: "ens1f1"
        trusted: "true"
        physical_network: "sriov-private"
      - devname: "ens2f0"
        trusted: "true"
        physical_network: "sriov-mirror"
    NovaReservedHostMemory: 4096
    # Need to edit per hardware confguration
    NovaComputeCpuSharedSet: "13,15,17,19,21,23,25,27,29,31,33,35,37,39,53,55,57,59,61,63,65,67,69,71,73,75,77,79" 
    NovaComputeCpuDedicatedSet: "8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78"
    # 0-0       0,1     12,13
    # 0-1       2,3     14,15
    # 0-2       4,5     16,17
    # 0-8       6,7     18,19
    # 0-9       8,9      20,21
    # 0-10      10,11   22,23
#https://access.redhat.com/documentation/en-us/red_hat_openstack_platform/16.1/html/network_functions_virtualization_planning_and_configuration_guide/part-dpdk-configure
#https://access.redhat.com/documentation/en-us/red_hat_openstack_platform/16.1/html/configuring_the_compute_service_for_instance_creation/configuring-pci-passthrough#guidelines-for-configuring-novapcipassthrough-osp


